/* custom.css */
.slide:nth-of-type(1) {
  background-color: pink;  /* Set background color of the first slide */
  background-size: cover;
  background-position: center;
}

.slide:nth-of-type(1) .title {
  color: black;  /* Change title text color to white */
}